{% extends 'base.html.twig' %}

{% block body %}

<div class="card">
  <div class="card-header">
    {{ news_item.Title }}
  </div>
  <div class="card-body">
	<p class="card-text">{{ news_item.Body }}</p>
	<a class="btn btn-primary" href="{{ path('foo_news_edit', {'id': news_item.Id }) }}" title="Edit">
		<img src="{{ asset('icons/pencil.svg') }}"/>
	</a>
	<a class="btn btn-danger" href="{{ path('foo_news_delete', {'id': news_item.Id }) }}" title="Delete">
		<img src="{{ asset('icons/trashcan.svg') }}"/>
	</a>
  </div>
</div>

{% endblock %}